body {
    background-color: #5f787b;
    font-family: arial;
    font-size: 1vw;
    color: #e7e4e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: caveat;
    src: url(fonts/Caveat-VariableFont_wght.ttf);
  }

#titlediv {
    height: 90%; 
    width: 78%; 
    text-align: center;
}

#linkbar {
    height: 10%; 
    width: 100%; 
    display: flex;
    justify-content: center;
}

#content {
    height: 90%; 
    width: 78%; 
    text-align: center;
}

.mainheader {
    color: #262b2b;
    font-family: caveat;
    font-size: 5vw;
    display: flex;
    justify-content: center;
}

a:link {
    font-family: arial;
    font-size: 1vw;
    color: #eab354;
    text-decoration: none;
  }
  
  a:visited {
    font-family: arial;
    font-size: 1vw;
    color: #eab354;
    text-decoration: none;
  }
  
  a:hover {
    font-family: arial;
    font-size: 1vw;
    color: #eab354;
    text-decoration: none;
  }
  
  a:active {
    font-family: arial;
    font-size: 1vw;
    color: #eab354;
    text-decoration: none;
  }