body {
    background-color: #5f787b;
    font-family: arial;
    font-size: 2vw;
    color: #e7e4e3;
    text-align:center;
}

#linkbar {
    height: 10%; 
    width: 100%; 
    display: flex;
    justify-content: center
}

#content {
    height: 90%; 
    width: 78%; 
    text-align: center;
}

.mainheader {
    color: #262b2b;
    font-family: arial;
    font-size: 10vw;
    text-align: center;    
}

.link {
    font-family: arial;
    font-size: 4vw;
}

a:visited {
    color: #eab354;
    font-family: arial;
    font-size: 4vw;
    text-align: center;
}

a:hover {
    color: #eab354;
    font-family: arial;
    font-size: 4vw
    text-align: center;
}